#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    margin-top: 60px;
  }
  
  .border {
    border: 1px solid;
  }
  
  .todo-panel {
    display: flex;
    justify-content: space-around;
  }
  
  .todo-aside {
    margin: 15px;
    width: 20%;
    box-sizing: border-box;
  }
  
  .todo-content {
    margin: 15px;
    width: 80%;
    box-sizing: border-box;
  }
  
  .title {
    text-align: center;
  }
  
  .todo-aside__item:not(:first-child) {
    margin-top: 15px;
  }
  
  h3 {
    margin: 0;
    font-size: 16px;
  }
  
  input[type="text"] {
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 5px;
    width: 100%;
    font-size: 14px;
    box-sizing: border-box;
  }
  
  textarea {
    width: 100%;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.5;
    box-sizing: border-box;
    resize: none;
  }
  
  .margin-top-10 {
    margin-top: 10px;
  }
  
  .btn {
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #9e9e9e;
    border-radius: 5px;
  }
  
  .btn-big {
    width: 100%;
    padding: 7px;
  }
  
  .btn-small {
    width: 30%;
    padding: 7px;
  }
  
  .status--low {
    background-color: #caff7a;
  }
  
  .status--high {
    background-color: #ffff7d;
  }
  
  .status--critical {
    background-color: #ff5c5c;
  }
  
  .nav-tabs {
    margin: 0;
    margin-left: 10px;
    padding: 0;
    display: flex;
    list-style-type: none;
  }
  
  .nav-item {
    border: 1px solid;
    border-bottom: none;
  }
  
  .nav-item:not(:first-child) {
    border-left: none;
  }
  
  .tab-panel {
    padding: 25px 15px;
  }
  
  .todo-item:not(:first-child) {
    margin-top: 15px;
  }
  
  .todo-item__status {
    border-right: 1px solid;
    width: 1%;
  }
  
  .todo-item {
    display: flex;
  }
  
  .todo-item__content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-sizing: border-box;
  }
  
  .todo-item__content-head {
    display: flex;
    align-items: center;
  }
  
  .status-checkbox {
    margin-right: 15px;
  }
  
  .nav-link {
    padding: 15px;
    display: flex;
    text-decoration: none;
    color: inherit;
  }
  
  .nav-item .nav-link.active {
    background-color: #ffda00;
  }
  
  .tab-panel {
    display: none;
  }
  
  .tab-panel.active {
    display: flex;
  }
  
  .todo-list {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .close-icon:before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background: url("./assets/icons/close.svg") no-repeat center center;
    background-size: contain;
  }
  
  .todo-item__toolbar {
    width: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .edit-icon:before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background: url("./assets/icons/edit.svg") no-repeat center center;
    background-size: contain;
  }
  
  .remove-icon:before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background: url("./assets/icons/delete.svg") no-repeat center center;
    background-size: contain;
  }